# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env

# Logs
logs
*.log
log.txt
*.csv

# Dependency directories
.pnp/
.pnp.js

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.swp

# OS files
Thumbs.db
ehthumbs.db

# Optional cache
.cache/
.next/
out/
.eslintcache

# Coverage
coverage/

# TypeScript
*.tsbuildinfo
